
# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2


[*.cs]
file_header_template = "<copyright file="{fileName}">\nCopyright (c) Advaith Harikrishnan. All rights reserved.\n</copyright>"
